.swiper-pagination {
  bottom: -3.5rem !important;
}

.swiper-pagination-bullet {
  width: 0.938rem !important;
  height: 0.938rem !important;
  margin: 0 0.6rem 0.25rem !important;
  background: #fff !important;
  opacity: 0.5 !important;
}

.swiper-pagination-bullet-active {
  background: #fff !important;
  opacity: 1 !important;
}
